.page404 {
    height: 103vh;
    border-radius: 0;
    margin-bottom: 0;
    background: #2196F3;
}

.content404 {
    text-align: center;
    color: #fff;
    position: relative;
}

.content404 {
    padding-top: -10px;
}

section.content404 hr {
    border: 3px solid #fff;
    width: 28%;
}

.bigtext {
    font-size: 8em;
    font-weight: 200;
    padding-top: -10px;
    margin-top: -19px;
}

.btn-404 {
    background: #fff;
    color: #2196F3;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.content404 p {
    margin-bottom: 20px;
}

.image404 {
    margin: auto;
    width: 80%;
    margin-top: -80px;
}



@media screen and (max-width: 770px) {
    .inner-login-container {
        flex-direction: column;
        width: 90vw;
        padding: 0 10vw;
    }
    .form-container {
        width: 100% !important;
    }
}