body{
    max-width: 600px;
    height:100%;
    margin:  auto;
    display: table;
}

.left-column {
    display: table-cell;
    width: 33%;
    height: 100%;
    vertical-align:top;
    background-color: #2196F3;
    font-family: Lato;
}
    .head{
        margin: auto;
        width: 95%;
        padding-top: 254px;
         color: white;
            }
    .logo1{
        position: absolute;
        font-size: 84px;
        float: left;
        letter-spacing: 3px;
    }
    .logo2{
        position: absolute;
        padding-top: 14px;
        padding-left: 55px;
        font-size: 55px;
            }
    .logo2.custom{
        padding-top: 48px;
        padding-left: 60px;
        font-size: 21px;
    }
    .right-column {   
    display: table-cell;
    width: 67%;
    vertical-align:top;
    padding-left: 37px;
    }

    .head1 {
    font-size: 30px;
    padding-top: 74px;
    text-align: center;
    color: #2196F3;
    font-family: Lato;
    }

    button {
    color: white;
    background-color: #2196F3;
    width: 150px;
    height: 40px;
    font-size: 13px;
    border: 1px solid none;
    border-radius: 10px;
    top: 200px;
    font-family: Lato;
}

p {
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 8px;
    font-family: Lato;
    }


.bottom {
    font-size: 19px;
    padding-top: 40px;
    margin-bottom: 0;
    font-family: Lato;

}
.bottom1 {
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 25px;
    font-family: Lato;
}

.line {
    color: #2196F3;
    font-size: 20px;
}

.bottom2 {
    color: #2196F3;
    font-size: 17px;
    padding-top: 0;
    font-family: Lato;
}

a:visited {
    color: #2196F3;
}

a {
    color: #2196F3;
}

@media screen and (max-width: 586px) {
        .left-column{
            float: none;
            display: block;
            width: 100%;
            height: 160px;
                    }
        .head{
        margin: auto;
        width: 50%;
        padding-top: 20px;
         color: white;
            }
        .right-column{
            float: none;
            display: block;
            width: 80%;
        }
  }