/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*--reset--*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*-- start editing from here --*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*-- end reset --*/
body {
    font-family: 'Open Sans', sans-serif;
    background: #FFFFFF center 0px; 
	background-size: cover;
}
a{

    color: blue;

}
h2{
    color: black;
}
h1{
    font-size: 3em;
    text-align: center;
    color: black;
    font-weight: 100;
    font-family: 'Old Standard TT', serif;
    letter-spacing: 5px;
}
/*-- main --*/
.main {
    padding: 2em 0 0;
}
.main-agilerow {
    width: 35%;
    margin: 2em auto;
    background: #FFFFFF;
    position: relative;

   
}
/*-- contact-form --*/
.signup-wthreetop {
    padding: 1.5em;
    background:#FFFFFF;
}
.signup-wthreetop h2 {
    font-size: 2em;
    color: #fff;
    font-family: 'Old Standard TT', serif;
}
.signup-wthreetop p {
    font-size: 0.8em;
    color: #ddd;
    line-height: 1.8em;
    letter-spacing: 4px;
    margin-top: .5em;
} 
.contact-wthree {
    padding: 0.5em 2em 2.5em;
}
.form-w3step1 {
    background:#ffffff;
    padding: .1em;

    
    
    
    
}
.legend{

    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 42px;
    text-align: center;
    color: #3D3D3D;
   

}
.contact-wthree h3 {
    font-size: 1.2em;
    color: #FFFFFF;
    margin: 1em 0 .5em;
    font-family: 'Old Standard TT', serif;
}
.contact-wthree input[type="text"],.contact-wthree input[type="email"],.contact-wthree input[type="password"] {
    width: 93%;
    background: #FFFFFF;
    outline: #898989;
    font-size: .9em;
    padding: .6em 1em;
    margin-bottom: 1em;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    
} 
.contact-wthree input[type="submit"] {
    width: 93%;
    height: 44px;
    background: #2196F3;
    outline: #898989;
    font-size: .9em;
    padding: .6em;
    margin-bottom: 2em;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;




} 
input.agileits-btm {
    margin-bottom: 0 !important;
}
.contact-wthree input[type="submit"]:hover {
    background: #2196F3;
    border-radius: 3px;
    letter-spacing: 3px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff; 
} 
::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
} 
:-ms-input-placeholder {  
   color: #fff;  
} 

.remember{
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;

}
.forget{
    font-family: Lato;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;

color: #535353;
}
/*-- check box --*/ 
.agileits-row2 input[type="checkbox"] {
    display: none;
}
.agileits-row2 input[type="checkbox"]+label {
    position: relative;
    padding-left: 1.8em;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    display: -webkit-inline-box; 
	margin: 1.5em 0;
}
.agileits-row2 input[type="checkbox"]+label span:first-child {
    width: 13px;
    height: 13px;
    border: 1px solid #C8C8C8;
    position: absolute;
    left: 0;
    top: 3px; 
}
.agileits-row2 input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: #ffffff;
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}
/*-- //check box --*/


/*-- responsive-design --*/ 

/*-- //responsive-design --*/